# Pastas de Manuais e Datasheets para consulta
Manuais e Datasheets/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
env/
.env/

# Testes
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Build / executável
build/
dist/
*.spec
*.exe

# Bancos de dados locais
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/